* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Colors */
  --red-clr: hsl(0, 78%, 62%);
  --cyan-clr:  hsl(180, 62%, 55%);
  --orange-clr: hsl(34, 97%, 64%);
  --blue-clr: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);

  /*Fonts*/
  --body-font-size: 0.938rem; /*15px*/
  --font-fam: "Poppins", sans-serif;
  --small-weight: 200;
  --med-weight: 400;
  --large-weight: 600;
}

body {
  height: 100vh;
  font-family: var(--font-fam);
  background-color: var(--very-light-gray);
}

header {
  text-align: center;
  color: var(--very-dark-blue);
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

header .first-line, header.p {
  font-weight: var(--small-weight);
}

header .second-line {
  font-weight: var(--large-weight);
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "sup team calcu"
                        "sup karma calcu";
}

.supervisor {
  grid-area: sup;
}

.team {
  grid-area: team;
}

.karma {
  grid-area: karma;
}

.calculator {
  grid-area: calcu;
}













/* author div */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }