* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Colors */
  --red-clr: hsl(0, 78%, 62%);
  --cyan-clr:  hsl(180, 62%, 55%);
  --orange-clr: hsl(34, 97%, 64%);
  --blue-clr: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);

  /*Fonts*/
  --body-font-size: 0.938rem; /*15px*/
  --font-fam: "Poppins", sans-serif;
  --small-weight: 200;
  --med-weight: 400;
  --large-weight: 600;
}

body {
  height: 100vh;
  font-family: var(--font-fam);
  background-color: var(--very-light-gray);
}

header {
  text-align: center;
  color: var(--very-dark-blue);
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

header .first-line, header.p {
  font-weight: var(--small-weight);
}

header .second-line {
  font-weight: var(--large-weight);
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "sup team calcu"
                        "sup karma calcu";
  
  gap: 1rem;
}

.supervisor {
  grid-area: sup;
  border-top: solid 5px var(--cyan-clr);
}

.team {
  grid-area: team;
  border-top: solid 5px var(--red-clr);
}

.karma {
  grid-area: karma;
  border-top: solid 5px var(--orange-clr);
}

.calculator {
  grid-area: calcu;
  border-top: solid 5px var(--blue-clr);
}

.card {
  box-shadow: 5px 5px 10px var(--grayish-blue);
  height: 15rem;
  width: 22rem;
  margin: auto;
  border-radius: 15px;
}

.card h3 {
  color: var(--very-dark-blue);
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.card p {
  color: var(--very-dark-blue);
  font-weight: var(--small-weight);
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-size: var(--body-font-size);
}
.card img {
  float: right;
  position: relative;
  right: 1.5rem;
  top: 2.5rem;
}












/* author div */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }